html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
* img {
  width: 100%;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  font-family: inherit;
}
p {
  font-size: 1.8em;
}
h2 {
  font-size: 30px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Header */

header {
  display: flex;
  justify-content: center;
  background-color: #30343f;
  padding: 36px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.navbar__menu {
  display: flex; /* Para que los elementos de la menu se alineen horizontalmente */
  box-sizing: border-box;
  font-size: medium;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.navbar_logo {
  max-width: 300px;
}

.navbar__link {
  font-size: 8px 16px;
  display: inline-block;
  transition: background.3s ease-in-out;
  position:relative;
  text-decoration: none;
  border-radius: 18px;
  color: white;
}
.navbar__link:hover {
  display: inline-block;
  background-color: red;
  background-size: inherit;
  border-radius: 18px;
  padding: 7px;
  box-sizing: border-box;
}

.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.with-submenu:hover .submenu{
  display: block;

}
.submenu{
  display: none;
  position: absolute;
  width: 300px;
  background-color: #30343f;
}

.submenu__item{
  display: block;
  font-size: medium;
}

.submenu__link{
  display: block;
  padding: 8px 16px;
  font-size: medium;
  transition: background.3s ease-in-out;
}

.submenu__link:hover{
background-color: red;
}