html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
* img {
  width: 100%;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: inherit;
}
p {
  font-size: 1.8em;
}
h2 {
  font-size: 30px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Header */

header {
  display: flex;
  background-color: #30343f;
  padding: 36px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_logo {
  max-width: 100%;
}

.navbar__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.navbar__item {
  text-decoration: none;
}

.navbar__link {
  display: inline-block;
  text-decoration: none;
  transition: background.3s ease-in-out;
  position: relative;
  color: #ffffff;
  font-size: 1.8em;
  padding: 5px;
}

.navbar__link:hover {
  display: inline-block;
  background-color: red;
  background-size: inherit;
  color: #fff;
}

.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.submenu {
  display: none;
  position: absolute;
  width: 300px;
  background-color: #30343f;
  z-index: 3;
}

.with-submenu:hover .submenu {
  display: block;
}

.submenu__item {
  display: block;
  font-size: medium;
  padding: 8px 16px;
}

.submenu__link {
  display: flex;
  padding: 8px 16px;
  font-size: medium;
  color: #ffffff;
  transition: background.3s ease-in-out;
  text-decoration: none;
}

.submenu__link:hover {
  background-color: red;
  color: #fff;
}

/* Universal Footer */

.footer {
  display: block;
  padding: 23px;
  background-color: #30343f;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.footer__copy {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

/* >Hero FROM Index< */

.hero {
  display: flex;
  background-position: top;
  background-image: url(/img/funkos-banner.webp);
  padding: 128px;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  position: relative;
}
.hero::before {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  backdrop-filter: blur(2px) brightness(0.9);
}

.hero__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  gap: 20px;
  align-items: start;
  position: relative; /*  Recordar lo importantes que es no cagarla con las posicions */
  color: #ffffff;
  z-index: 2;
}

.hero__title {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 38px;
}
.hero__text {
  font-family: "Raleway", sans-serif;
  font-size: medium;
  color: #ffffff;
}
.hero__link {
  display: inline-block;
  font-size: medium;
  padding: 12px 68px;
  font-weight: 500;
  border-radius: 50px;
  color: #111111;
  background-color: #ffffff;
  text-decoration: none;
}

.hero__link:hover {
  color: #fff;
  background-color: red;
  transition: all 0.3s ease-in-out;
}

/*Collections FROM Index*/

.collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 16px 0px;
}

.collection:nth-child(2) .collection__cover {
  order: -1;
}

.collection__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}

.collection__title {
  font-size: 46px;
  font-weight: 500;
  text-transform: uppercase;
  color: #111;
}

.collection__text {
  color: #4f4f4f;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #f33;
  padding-bottom: 20px;
}

.collection__link {
  display: inline-block;
  color: #ffffff;
  background-color: #30343f;
  border-radius: 50px;
  padding: 16px 36px;
  font-weight: 500;
  transition: background.3s ease-in-out;
  text-decoration: none;
}

.collection__link:hover {
  background-color: red;
}

/* slider FROM Index*/

.slider {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 68px auto;
}
.slider__title {
  font-family: "Raleway";
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
}
.slider__list {
  display: flex;
  flex-shrink: 0;
  gap: 24px;
}

.card-item__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

.card-item__license {
  font-size: x-small;
  font-weight: 500;
  color: var(--Gray-1, #333);
}

.card-item__name {
  font-size: medium;
  font-weight: 700;
}

.card-item__price {
  font-size: x-small;
  color: var(--Gray-1, #333);
}

.card-item__promo {
  color: #1d84b5;
  font-size: x-small;
  font-weight: 700;
}

.card-item__cover {
  display: flex;
  position: relative;
}
.card-item__cover img {
  animation: fade 1.7s;
}

.card-item__img--back {
  display: none;
}

.card-item__cover:hover .card-item__img--back {
  display: block;
}
.card-item__cover:hover .card-item__img--front {
  display: none;
}

.card-item__tag {
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  padding: 8px 12px;
  color: #fff;
  background-color: #f33;
  text-transform: uppercase;
  position: absolute;
  right: 0%;
}

.card-item__tag:hover {
}

/* Animations From Index */

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Main FROM Shop*/

.main{
  display: flex;
}

/* Aside FROM Shop */

.aside {
  float:left
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Seccion de Productos FROM Shop*/

.samples{
  display: flex;
  justify-content: center;
}