html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

ul,
ol {
  list-style-type: none;
}
p {
  font-size: 1.8em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
 /* Header */

header {
  display: flex;
  justify-content: space-between;
  background-color: #30343f;
  align-items: center;
  padding: 36px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  max-width: 100%;
}

.navbar__list {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 20px;
}

.navbar__item {
  text-decoration: none;
}

.navbar__link {
  display: inline-block;
  text-decoration: none;
  transition: background.3s ease-in-out;
  border-radius: 50px;
  position: relative;
  color: white;
  font-size: 2em;
  padding: 5px;
}

.navbar__link:hover {
  display: inline-block;
  background-size: inherit;
  color: #fff;
  background-color: #f33;
}

.with-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.submenu{
  display: none;
  position: absolute;
  width: 300px;
  background-color: #30343f;
  z-index: 3;
}

.with-submenu:hover .submenu{
display: block;
}

.submenu__item{
  display: block;
  font-size: medium;
  padding: 8px 16px;
}

.submenu__link{
  display: flex;
  padding: 8px 16px;
  font-size:medium;
  color: #ffffff;
  transition: background.3s ease-in-out;
  text-decoration: none;
}

.submenu__link:hover{
  background-color: #f33;
  color: #fff;
}

/* Hero */